th,td {
    text-align: center;
}

.btn-delete {
    background-color: var(--pico-del-color);
    border-color: var(--pico-form-element-invalid-active);
}

.btn-delete:hover {
    background-color: var(--pico-form-element-invalid-active-border-color);
}

label {
    font-weight: bold;
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 80%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.skeleton-text {
    width: 100%;
    height: 0.7rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
}
  
.skeleton-text-body {
    width: 75%;
}

.tb_li { 
    list-style-type: none !important;
    margin: 10px;
    height: 64px;
    border-style: solid;
}
.tb_circle {
    height: 64px;
    font-size: 64px;
    border-radius: 32px;
    background-color: #a5d601;
    width: 64px;
    margin-left: 10px;
}

.fl_endblocks, .tb_li, .fl_straightline {
    list-style-type: none !important;
}

.fl_straightline {
    height: 50px;
    background-color: rgb(0, 30, 43);
    width: 12px;
    margin-left: auto;
    margin-right: auto;
}

.fl_triangledown {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 20px solid rgb(0, 30, 43);
    margin-left: auto;
    margin-right: auto;
}

body {
    min-height: 100vh !important;
    background-color: var(--pico-primary-background) !important;
}

.fl_endblocks {
    font-size: 24px;
    height: 64px;
    white-space: nowrap;
    line-height: 32px;
    padding: 16px 24px;
    background: rgb(255, 255, 255);
    display: flex;
    border: 1px solid rgb(0, 30, 43);
    box-shadow: rgb(0, 0, 0) 0px 5px 0px;
    font-size: 18px;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
    z-index: 1;
    width: fit-content;
    height: auto;
    margin: 0px auto;
    white-space: normal;
    grid-area: 1 / 2;
    line-height: 24px;
}

.tb_round {
    text-align: center;
    width: 100%;
    display: inline-block;
    border: 1px solid rgb(0, 30, 43);
    box-shadow: rgb(0, 0, 0) 0px 5px 0px;
}